BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakAfterReturnType: Automatic
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
PenaltyReturnTypeOnItsOwnLine: 1000
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BreakAfterAttributes: Always
BreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeCpp11BracedList: true
PointerAlignment: Left
BreakConstructorInitializers: BeforeComma
AllowShortCaseLabelsOnASingleLine: true
BreakStringLiterals: false
